@inherits LayoutComponentBase

@using Syncfusion.Blazor.Buttons

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <SfSwitch OnLabel="ON" OffLabel="OF" TChecked="bool" @bind-Checked="@isChecked" ValueChange="@((args)=>ThemeChanged(args))">

            </SfSwitch>
        </div>
        <CascadingValue Value="theme">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code
{
    private bool isChecked = true;
    private Theme theme = new();

    private void ThemeChanged(Syncfusion.Blazor.Buttons.ChangeEventArgs<bool> args)
    {
        if (args.Checked)
        {
            //JSRuntime.InvokeAsync<object>("setTheme", "material");
            theme = Theme.Material;
        }
        else
        {
            //JSRuntime.InvokeAsync<object>("setTheme", "material-dark");
            theme = Theme.MaterialDark;
        }
    }
}
